<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<% if (userId) { %>
<body bgcolor="#E6E6FA">
<ul>
  <li> <a href="http://localhost:8080/urls/new">New URL</a> </li>
  <li> <a href="http://localhost:8080/urls">URLS</a> </li>
</ul>
  <h1> Welcome To The Homepage of URL Shortener </h1>
</body>
<% } else {%>
    <meta http-equiv="refresh" content="0; URL='http://localhost:8080/login'" />
    <% } %>
</html>