<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <ul>
     <% for (i in urls) { %>
        <li><%=i %> : <%= urls[i] %></li>
        <form method="POST" action="/urls/<%= i %>/delete">
          <button type="submit">Delete</button>
        </form>
        <form method="GET" action="/urls/<%= i%>">
          <button type="submit">Edit</button>
        </form>
     <% } %>
    </ul>
<a href="url">Shorten URL</a>
</body>
</html>